<h1>Alma inciensos</h1>

{{#if user}}
  <div class="saludo">
    <h1>Hola {{user.name}} ! </h1>
    <p>Rol: {{user.role}}</p>
  </div>
  <div class="logoutContainer">
    <button id="loguotButton">Logout</button>
  </div>

{{/if}}

<div id="controles">
  <form action="/" method="GET">
    <div id="labels">
      <label for="limit">Cantidad de productos:</label>
      <select name="limit" id="limit">
        <option value="1">1</option>
        <option value="3">3</option>
        <option value="5">5</option>
      </select>

      <label for="sort">Ordenar por:</label>
      <select name="sort" id="sort">
        <option value="1">Menor precio</option>
        <option value="-1">Mayor precio</option>
      </select>
    </div>
    <button type="submit">Aplicar cambios</button>
  </form>
</div>

<div id="contenedorPricipal">
  <div id="product-container">
    {{#each products}}
      <div>
        <div class="cardContainer">
          <h2>{{title}}</h2>
          <p class="category">{{category}}</p>
          <div class="imgConteiner">
            <img src="{{thumbnail}}" alt="{{title}}" />
          </div>
          <p class="description">{{description}}</p>
          <p class="price">$ {{price}}</p>
          <button id="{{_id}}" class="add-to-cart-button">Agrecar al carrito</button>
        </div>
      </div>
    {{/each}}
  </div>

  <div id="pageHandler">
    {{#if hasPrevPage}}
      <a href="/?page={{prevPage}}"><button> - </button></a>
    {{/if}}

    <p>{{page}}</p>

    {{#if hasNextPage}}
      <a href="/?page={{nextPage}}"><button> + </button></a>
    {{/if}}
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/productHandler.js"></script>
<script src="/js/logout.js"></script>
